@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4" >Employees management</h2>

    <div class="row mb-5">
        <div class="col">
            <a class="btn btn-primary btn-employee" href="/Employees">View Employees</a>
        </div>

    </div>
    
   
</div>
